cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
gatewayAPI:
  enableAlpn: true
  enableAppProtocol: true
  enabled: true
ipam:
  mode: kubernetes
k8sServiceHost: 10.0.1.10
k8sServicePort: 6443
kubeProxyReplacement: true
securityContext:
  capabilities:
    ciliumAgent:
    - CHOWN
    - KILL
    - NET_ADMIN
    - NET_BIND_SERVICE
    - NET_RAW
    - IPC_LOCK
    - SYS_MODULE
    - SYS_ADMIN
    - SYS_RESOURCE
    - DAC_OVERRIDE
    - FOWNER
    - SETGID
    - SETUID
operator:
  replicas: 1
bgpControlPlane:
  enabled: true
ingressController:
  # enabled: true
  # loadbalancerMode: dedicated
  default: false
  enabled: false
# routingMode: native
